<template>
  <div id="home">
    <h3> Most popular Books of All time</h3>
    <books-table/>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue'
  import booksTable from '@/components/table.vue'

  export default Vue.extend({
    name: 'books',
    components: {
      booksTable
    },
    data () {
      return {
      }
    }
  })
</script>

<style scoped>
#home {
  display: grid;
  background-color: #ffffff;
  text-align: left;
}

h3 {
  padding-left: 15px;
}

</style>
