<template>
  <div>
    <table>
      <thead>
        <tr>
          <th style="text-align: left">TITLE</th>
          <th>PUBLISHED</th>
          <th>RATING</th>
          <th>BUY ON</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="row in books"
          :key="row.id"
          @click="showDescription(row.id)"
        >
          <td id="title">
            <div>
              <img :src="require(`../assets/images/${row.imageLink}`)"/>
            </div>
            <div id="name">
              <ul class="list-no-bullets-no-padding ">
                <li class="padding-bottom-5">
                  <a style="font-weight:bold; color: black"> {{row.title}}</a>
                </li>
                <li>
                  {{row.author}}
                </li>
              </ul>

            </div>
          </td>
          <td class="centered-text">{{row.year}}</td>
          <td class="centered-text">{{row.rating}}/10</td>
          <td class="centered-text">
            <ul class="list-no-bullets-no-padding">
              <li v-for="(value, name) in row.links" :key="name" >
                <a :href="value" target="_blank" class="acid-bold-link " @click.stop>{{ name }}</a><br>
              </li>
            </ul>
          </td>
          <transition name="slide-fade">
            <p v-html="row.description" class="desc" v-if="expandedIds.indexOf(row.id) >= 0"></p>
          </transition>
        </tr>
      </tbody>
    </table>
    <div id="pagination">
      <a :class="{ dissabled: !pagination.prev, action: true}" @click="goToPage(pagination.prev)">
        {{prev}}
      </a>
      <a>
        Page {{pagination.page}} of {{pagination.lastPage}}
      </a>
      <a :class="{ dissabled: !pagination.next, action: true}" @click="goToPage(pagination.next)">
        {{next}}
      </a>
    </div>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue'
  import { Book } from '@/types/book'

  export default Vue.extend({
    name: 'books-table',
    props: {

    },
    data () {
      return {
        expandedIds: [] as number[],
        prev: '<',
        next: '>'
      }
    },
    async created () {
      await this.$store.dispatch('book/fetchBooks')
      this.pagination = this.$store.getters['book/getPagination']
    },
    computed: {
      books (): Book[] {
        return this.$store.state.book.books
      },
      pagination () : object {
        return this.$store.state.book.pagination
      }
    },
    methods: {
      showDescription (bookId: number) {
        let index = this.expandedIds.indexOf(bookId)
        if (index >= 0) this.expandedIds.splice(index, 1)
        else this.expandedIds.push(bookId)
      },
      async goToPage (url: string) {
        if (!url) return
        await this.$store.dispatch('book/fetchBooks', url)
      }
    }
  })
</script>

<style scoped>
* {
  box-sizing: border-box;
}

table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns:
    minmax(100px, 2fr)
    repeat(3, 1fr);
}

thead,
tbody,
tr {
  display: contents;
}

th,
td {
  padding: 15px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  position: sticky;
  top: 0;
  background: white;
  font-weight: normal;
  font-size: 1.1rem;
  color: #808080;
}

th:last-child {
  border: 0;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #808080;
}

tr:nth-child(odd) td {
  background: #faf9f7;
}

img {
  height: 100px;
  width: 70px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 0px 1px #fff inset
}

#title {
  display: grid;
  grid-template-columns: 1fr 6fr;
  text-align: left;
}

#name {
  padding-left: 10px;
  grid-column: 2/7;
}

.desc {
  grid-column: 1/5;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.list-no-bullets-no-padding {
  list-style-type:none;
  padding-left: 0px;
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

.acid-bold-link {
  text-decoration: none;
  color: #a5c465;
  font-weight:bold
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s ease-out;
}
.slide-fade-enter, .slide-fade-leave-to{
  transform: translateX(10px);
  opacity: 0;
}

#pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight:bold;
}

.action {
  padding-left: 5px;
  padding-right: 5px;
}

.dissabled {
  color: gainsboro;
}

</style>
